body{
    background: url(Aeropuerto-Avión.jpg)no-repeat center fixed ;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: rgb(32, 32, 32); 
}
#cuerpo_nuevo_avion{
    position: static;
    margin-top: 76px;
    background: rgba(0, 0, 0, 0.459);
    height: 520px;
}
#cuerpo_nuevo_pasajero{
    position: static;
    margin-top: 76px;
    background: rgba(0, 0, 0, 0.459);
    height: 520px;
}
#cuerpo_vuelos_registrados{
    position: static;
    margin-top: 76px;
    background: rgba(0, 0, 0, 0.459);
    height: 520px;
}
#acerca_de{
    position: static;
    margin-top: 76px;
    background: rgba(0, 0, 0, 0.856);
    height: 520px;
    display: none;
}
#titulo_avion_nuevo{
    color: white;
    font-weight: bold;
}

form{
    margin-top: -5px;
    padding-right: 10px;
    padding-left: 15px;
}

.tam_inp{
    width: 180px;
    /*margin-right: 100px;*/
}
#botones_guardar{
    left: 27px;
    top: 0;
    margin: auto;
    height: 30px;
    margin-left: 17px;
    width: 40px;
    display: inline-block;
    position:absolute; z-index:1; /*PERMITE COLOCAR ENCIMA*/
}
#boton_cerrar{
    background: rgb(253, 253, 253);
    height: 30px;
    margin-left: -15px;
    width: 40px;
    display: inline-block;
}
#boton_cerrar_mision{
    background: rgb(253, 253, 253);
    height: 30px;
    margin-left: 0;
    width: 40px;
    display: inline-block;
}
.nombres_labels{
    color: white;
}
#nombre{
    display: inline-block;
}
#apellido{
    display: inline-block;
}
.porta{
    margin-top: 10px;
}
a .portada{
    border-radius: 10px;
    height: 500px;;        
    right: 120px;
    bottom: 0;
    margin: auto;
}
#img_avion{
    margin-top: 8px;
}
/*  MOSTRAR Y OCULTAR*/

#cuerpo_nuevo_avion{
    display: none;
}
#cuerpo_nuevo_pasajero{
    display: none;
}
#cuerpo_vuelos_registrados{
    display: none;
}
hr {
    height: 10px;
    background-color: black;
  }

#espacio_vision{
    margin-top: -15px;
}
