*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background: #d60539d2;
    position: fixed;
    width: 100%;
    top: 0;
    position:absolute; z-index:1; /*PERMITE COLOCAR ENCIMA*/
}
.menu{
    width: 90%;
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center; /*Permite centrar*/
}
.menu .logo{
    display: inline-block;
    margin-right: 1em;
}
.menu .logo img{
    vertical-align: top;
    height: 50px;
    margin: 5px;
}
.menu .btn-menu{
    display: none; /*Ocultando el icono de barras*/
    color: #fff;
    text-decoration: none;
    font-size: 1em;
}
/*
.menu .logo:hover{
    background: #f7f7fab4;  /*al pasar el mause encima del logo cambia de color*/
/* } */

.menu .enlaces {
    display: inline-block;
    text-align: right;
}
.menu .enlaces a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 1em;
    text-align: center;
    font-size: 1em;
}
.menu .enlaces i{
    margin-right: 5px;
}
.menu .enlaces a:hover{
    background: #f2f2f2;
    color: #4357ad;
}
main{
    width: 90%;
    max-width: 1000px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, .75);
}
main article h1{
    font-weight: normal;
    margin-bottom: .5em;
}
main article hr{
    margin-bottom: 1em;
    height: 2px;
    background: #4357ad;
    border: none;
}
main article p{
    margin-bottom: 1em;
    text-align: justify;
    padding-left: 10px;
    padding-right: 10px;
}

/* Efectos del Menu */
.headroom{
    transition: transform .3s ease;
}
.headroom--pinned{
    transform: translateY(0%);/*Mostrando menu*/
}
.headroom--unpinned{
    transform: translateY(-100%); /*Se oculta*/
    /* background-color: #000; no se oculta, colo cambia de color */
}
/*Mediaqueries*/
@media screen and (max-width: 700px){
    header .menu {
        flex-direction:column;
    }
    header .menu .logo{
        display: flex;
        flex-direction: row;
        justify-content: space-between; /*sirve para colocar los textos a la izquierda y derecha y dejar vacio en el centro*/
        width: 100%;
        padding: 1em;
    }
    header .menu .logo .btn-menu{
        display: inline-block;
    }
    header .menu .enlaces{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around; /*divide los espacios entre cada uno de ellos*/
    }
    #cuerpo_nuevo_avion{
        position: static;
        margin-top: 100px;
        background: rgba(0, 0, 0, 0.459);
        height: 520px;
        position:absolute; z-index:0; /*PERMITE COLOCAR ENCIMA*/
    }
}